/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background: var(--bg-image), var(--bg-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

a {
  text-decoration: none;
  text-shadow: 2px 1px var(--accent-color);
}

a:hover {
  text-decoration: underline;
}

a:focus {
  outline: none;
}

a:focus-visible {
  outline: 1px solid var(--focus-color-link);
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr ;
  grid-template-columns: 1fr;
  position: relative;
  width: 100%;
  min-height: 668px;
  height: 100vh;
  padding: 10px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);
  top: 10px;
  right: 10px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--decor-color);
  border-left: 1px solid var(--decor-color);
  left: 10px;
  bottom: 10px;
}

.header__rec-text {
  position: absolute;
  display: var(--rec);
  top: 10px;
  right: 19px;
  color: var(--decor-color);
  text-transform: uppercase;
  text-align: center;
  font-family: var(--main-font, monospace);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
}

.header__rec-text::after {
  content: "";
  display: inline-block;
  margin-left: 10px;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 100%;
  box-shadow: 0px 0px 4px 3px var(--accent-color);
}

.header__theme-menu {
  align-self: center;
  justify-self: right;
}

.header__theme-menu-item:not(:last-of-type) {
  margin-bottom: 10px;
}

.header__theme-menu-button {
  inline-size: 100%;
  display: inline-flex;
  min-height: 26px;
  padding: 0px 13px;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  color: var(--buttons-color);
  background-color: inherit;
  text-transform: lowercase;
  text-align: center;
  font-family: var(--main-font, monospace);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 100% */
}

.header__theme-menu-button:hover {
  border: 1px solid var(--buttons-color-hover);
}

.header__theme-menu-button:focus {
  outline:  none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--buttons-color);
  outline: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--buttons-color);
  pointer-events: none;
}

.header__title {
  color: var(--heading-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-family:  var(--main-font, monospace);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 95.7px */
}

.header__text {
  display: inline-block;
  inline-size: 100%;
  align-self: center;
  font-family: var(--main-font, monospace);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

.title-decor {
  background: var(--accent-color);
  color: var(--title-color);
}

section {
  display: flex;
  padding: 0px 10px;
  flex-direction: column;
  /* align-items: center; */
  gap: 20px;
}

.content_labels-of-section {
  color: var(--labels-section-color);
  font-family: var(--main-font, monospace);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}


.margin-block-start {
  margin-block-start: 50px;
}

.one-paragraph {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.big-width {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.text-paragraph {
  color: var(--text-color);
  font-family: var(--main-font, monospace);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
}

.title-text-bold {
  font-size: 18px;
  font-family: var(--main-font, monospace);
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

.title-text-no-bold {
  font-size: 18px;
  font-family: var(--main-font, monospace);
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
}

img {
  width: 100%;
  object-fit: cover;
}

.section_pics {
  gap: 10px;
}

.pics_title {
  font-family: var(--main-font, monospace);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

.footer {
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 10px;
}

.footer__title {
  color: var(--heading-color);
  text-shadow: 2px 2px 0px var(--accent-color);
  font-family: var(--main-font, monospace);
  /* font-size: 116px; */
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 95.7px */
}

@media (768px <= width) {
  .page {
    gap: 60px;
  }

  .header {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "header-menu header-menu"
    "title title"
    ". text";
    padding: 20px;
  }

  .header__rec-text {
    top: 19px;
    right: 29px;
  }
  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }
  
  .decorated-zone::after {
    left: 20px;
    bottom: 20px;
  }

  .header__theme-menu {
    grid-area: header-menu;
  }

  .header__title {
    grid-area: title;
  }

  .header__text {
    grid-area: text;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: -20px;
  }

  section {
    padding: 0 20px;
    display: grid;
    /* ПО pixel perfect получилось 0,91 по идее 1fr */
    grid-template-columns: 1fr 0.91fr 1fr; 
  }

  .section-why .content_labels-of-section {
    grid-column-start: 1;
  }

  .section-why .row-text:nth-child(n) {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .margin-block-start {
    margin-block-start: 80px;
  }

  .section-causes {
    grid-auto-flow: rows;
  }

  .section-causes .content-labels-of-section {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .section-causes .row-text-causes:nth-child(n) {
    grid-column: span 3;
  }

  .section-advices .content_labels-of-section {
    grid-row-start: span 2;
  }

  .big-width {
    grid-row:2;
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr;
  }

  .section-advices .row-text:nth-child(n) {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .section_pics {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, min-content);
    grid-template-areas:
    "pics-title pics-title pics-title"
    "pic_sunset pic_sunset pic_ice-cream"
    "pic_tape pic_books pic_ice-cream"
    "pic_tape pic_street pic_street";
    gap: 20px;
  }

  .pics_title {
    grid-area: pics-title;
  }

  .pic_sunset {
    grid-area: pic_sunset;
  }

  .pic_ice-cream {
    grid-area: pic_ice-cream;
    height: 100%;
  }

  .pic_tape {
    grid-area: pic_tape;
    height: 100%;
  }

  .pic_books {
    grid-area: pic_books;
  }

  .pic_street {
    grid-area: pic_street;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {

  .header__theme-menu {
    grid-area: header-menu;
    align-self: flex-start;
    justify-self: center;
  }
  .header__theme-menu-list {
    display: flex;
    gap: 10px;
  }

  .section {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .section-causes .content_labels-of-section {
    grid-column: 1;
    grid-row: 1;
  }

  .big-width {
    grid-template-columns: 1fr 1fr 1fr;
  }
}